<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="牛家人加盟,牛肉面加盟费,面店加盟条件,牛家人大碗牛肉面怎么样">
    <meta name="description" content="牛家人大碗牛肉面加盟品牌隶属于杭州味捷集团管理有限公司,专注于提供牛肉面加盟培训,分享面店加盟技巧等.牛家人主打一碗不会坨的面,是您创业开店的明智之选.牛家人大碗牛肉面加盟电话：400-897-0200.">
    <meta name="format-detection" content="telephone=yes"/>
    <title>牛肉面加盟_面店加盟_牛家人大碗牛肉面加盟-牛家人官网</title>
    <link rel=icon type=image/x-icon href=./public/favicon.ico>
    <!-- 重置页面 -->
    <link rel="stylesheet" href="./css/base.css">
    <!-- 当页面的css -->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/common.css">
    <!-- layui.css -->
    <link rel="stylesheet" href="./lib/layui/css/layui.css">
    <!-- swiper -->
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <script src="./lib/rem/rem.js"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>


<div class="layout clearfix" id="index">
    <!-- 头部 -->
    <!--<header class="">-->

    <!--&lt;!&ndash; logo&ndash;&gt;-->
    <!--<h1>-->
    <!--<a href="/">-->
    <!--牛家人大碗牛肉面-->
    <!--</a>-->
    <!--</h1>-->

    <!--</header>-->

    <!-- 内容 -->
    <div class="content">
        <!-- 导航 -->
        <nav class="w">
            <div class="swiper-container nav-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/">
                            首页
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./introduce.html">
                            关于我们
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./news.html">
                            新闻资讯
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./join.html">
                            招商加盟
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./product.html">
                            产品展示
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./contact.html">
                            联系我们
                        </a>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <!--<div class="swiper-pagination"></div>-->
            </div>
        </nav>
        <!-- 轮播图 -->
        <div class="swiper-container index-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:void(0);">
                        <img src="./images/index/banner01.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0);">
                        <img src="./images/index/banner02.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0);">
                        <img src="./images/index/banner03.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
        </div>


        <!-- 滚动商圈 -->
        <section class="tradingArea ">
            <div class="w">
                <ul class="clearfix">
                    <li class="">全国分布</li>
                    <li class="">商圈分布</li>
                    <li class="">剩余商圈</li>
                </ul>
                <div class="swiper-container ta-banner">
                    <div class="swiper-wrapper" id="tab-nav">
                        <div class="swiper-slide swiper-no-swiping" v-for="(item,index) in tearData" :key="index">
                            <ul>
                                <li class="">{{ item.name }}</li>
                                <li class="">{{ item.all }}</li>
                                <li class="">{{ item.surplus }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <a href="tel:400-897-0200" class="to-form">
                    立即申请加盟
                </a>
            </div>

        </section>

        <!-- 品牌介绍 -->
        <section class="story">
            <div class="story-top w">
                <h2 class="title">
                    <img src="./images/index/story_title.png" alt="">
                    <a href="./introduce.html">查看更多</a>
                </h2>

            </div>
            <hr>
            <div class="story-bottom w">
                <img src="./images/index/story01.png" alt="">
                <p>牛家人大碗牛肉面是味捷集团结合现有餐饮消费市场需求隆重推出的面食品牌。</p>
                <p>
                    牛家人选用陕西光照3000小时的麦穗，经层层删选保留最纯粹饱满的麦穗，并采用先进研磨工艺。反复研磨而成的面粉，色泽淡黄干净，粉质细腻，麦香清淡，蛋白质丰富，面筋中厚恰好，俨然自然之味。经揉、抻、拉、压、切等30多道精细工序，每一碗面都劲道Q弹。
                </p>
                <div>
                    <img src="./images/index/story02.png" alt="">
                    <img src="./images/index/story03.png" alt="">
                </div>
            </div>
        </section>

        <section class="tradingAreaTest ">
            <div class="w">
                <a href="tel:400-897-0200" class="to-form">
                    加盟热线:400-897-0200
                </a>
            </div>
        </section>
        <!-- 产品中心 -->
        <section class="product">
            <div class="w">
                <div class="product-top">
                    <h2 class="title w">
                        <img src="./images/index/product_title.png" alt="">
                        <a href="./product.html" style="color: #efc178;">查看更多</a>
                    </h2>
                </div>
                <hr>
                <div class="product-mid">
                    <div class="w">
                        <img src="./images/index/product01.png" alt="">
                        <img src="./images/index/product02.png" alt="">
                        <img src="./images/index/product03.png" alt="">
                        <img src="./images/index/product04.png" alt="">
                        <img src="./images/index/product05.png" alt="">
                    </div>
                </div>
                <div class="product-bottom w">
                    <img src="./images/index/word.png" alt="">
                </div>
            </div>
        </section>

        <!-- 加盟优势 -->
        <section class="join w">
            <h2 class="title" style="margin-bottom: 20px;">
                <img src="./images/index/join_title.png" alt="">
                <a href="./introduce.html"></a>
            </h2>
            <div>
                <span>零经验开店</span>
                <span>免费系统培训</span>
            </div>
            <div>
                <span>托管+代运营</span>
                <span>专业研发团队</span>
            </div>
            <div>
                <span>提供店铺选址设计支持</span>
            </div>
            <div>
                <span>线上运营团队指导</span>
            </div>
            <div>
                <span>门店专业督导</span>
            </div>
        </section>

        <!-- 新闻 -->
        <section class="news w">
            <div class="w">
                <h2 class="title">
                    <img src="./images/index/news_title.png" alt="">
                    <a href="./news.html">查看更多</a>
                </h2>
                <ul>
                    <li class="w" v-for="item in newsList.slice(0,5)" :key="item.uidpk">
                        <a :href="'./newsInfo.html?id='+item.uidpk">
                            <div class="word">
                                <p class="title">{{ item.title | slh(10) }}</p>
                                <p class="desc">{{ item.description }}</p>
                                <p class="info">
                                    来源：{{ item.source }} &nbsp {{ item.createTime | getTime() }}
                                </p>
                            </div>
                            <img :src="item.articleThumbnailBean.thumbnailurl" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <footer>
            <div class="footer-left">
                <a href="javascript:void(0);" class="call">
                    <img src="./public/call.png" alt="">
                    <div>
                        <p>客服热线：</p>
                        <p>400-897-0200</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="address">
                    <img src="./public/address.png" alt="">
                    <div>
                        <p>公司地址：</p>
                        <p>浙江省杭州市滨江区龙威大厦20楼</p>
                    </div>
                </a>
                <a rel="nofollow" href="http://beian.miit.gov.cn/" class="keep">
                    <img src="./public/bn.png" alt="">
                    <div>
                        <p>备案号：</p>
                        <p>浙ICP备17052793号</p>
                    </div>
                </a>
            </div>
            <img src="./public/footer_qrcode.png" alt="" class="footer-logo">
        </footer>
        <p class="warn_tip w">
            <span>
                版权所有 杭州味捷餐饮有限公司
            </span>
            <span>
                加盟有风险，投资需谨慎！
            </span>
        </p>
    </div>
</div>

<!-- axios -->
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<!-- monent -->
<script src="./lib/moment/moment.min.js"></script>
<!-- swiper -->
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="./js/index/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./lib/layui/layui.js"></script>

<script>
    var app = new Vue({
        el: "#index",
        data() {
            return {
                tearData: [
                    {name: "四川", all: 200, surplus: 48},
                    {name: "浙江", all: 200, surplus: 25},
                    {name: "江苏", all: 200, surplus: 32},
                    {name: "广东", all: 300, surplus: 91},
                    {name: "福建", all: 200, surplus: 76},
                    {name: "山东", all: 200, surplus: 64},
                    {name: "安徽", all: 150, surplus: 49},
                    {name: "江西", all: 100, surplus: 51},
                    {name: "广西", all: 100, surplus: 35},
                    {name: "海南", all: 80, surplus: 29},
                    {name: "河南", all: 150, surplus: 41},
                    {name: "湖南", all: 150, surplus: 69},

                    {name: "湖北", all: 150, surplus: 42},
                    {name: "河北", all: 150, surplus: 61},
                    {name: "内蒙古", all: 80, surplus: 52},
                    {name: "宁夏", all: 50, surplus: 28},
                    {name: "青海", all: 50, surplus: 41},
                    {name: "陕西", all: 150, surplus: 34},
                    {name: "甘肃", all: 50, surplus: 33},
                    {name: "新疆", all: 40, surplus: 25},
                    {name: "贵州", all: 150, surplus: 58},
                    {name: "云南", all: 150, surplus: 41},
                    {name: "重庆", all: 30, surplus: 5},
                    {name: "西藏", all: 50, surplus: 30},
                    {name: "辽宁", all: 80, surplus: 27},

                    {name: "吉林", all: 50, surplus: 15},
                    {name: "黑龙江", all: 50, surplus: 20},
                    {name: "上海", all: 40, surplus: 15},
                ],
                newsList: [],
            }
        },
        methods: {
            bannerInit1() {
                new Swiper('.index-banner', {
                    loop: true, // 循环模式选项
                    autoplay: {
                        delay: 1500,
                        stopOnLastSlide: false,
                        disableOnInteraction: false,
                    },
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });
            },
            bannerInit2() {
                new Swiper('.ta-banner', {
                    direction: 'vertical', // 垂直切换选项
                    loop: true, // 循环模式选项
                    autoplay: {
                        delay: 200,
                        stopOnLastSlide: false,
                        disableOnInteraction: false,
                    },
                    slidesPerView: 5,
                    centeredSlides: true,
                })
            },
            // 获取新闻数据
            async getNews()
    {
        const res = await
        // axios.get("http://manage.zhou-yuanwai.com/journalism/findAllNjr.do")
        axios.get("https://manage.zhou-yuanwai.com/comprehens/journalism.do?uidpk=20")
        // console.log(res.data)
        if (res.status === 200) {
            this.newsList = res.data.slice(0, 3)
        }
    }
    },
    filters: {
        // 超过字数变成省略号
        slh: function (value, wordLimit) {
            // var str = $(textName).html()
            // console.log(str)
            // var subStr = str.substring(0, wordLimit)
            // // console.log(subStr)
            // $(textName).html(subStr + (str.length > wordLimit ? "..." : ""))
            let subStr = value.substring(0, wordLimit)
            let newSubStr = subStr + (value.length > wordLimit ? "..." : "")
            return newSubStr
        }
    ,
        // 格式化时间
        getTime: function (dataStr, pattern = "YYYY-MM-DD") {
            return moment(dataStr).format(pattern);
        }
    ,
        // 获取日期
        getDay(val)
        {
            return val.split("-")[2]
        }
    ,
        // 获取日期
        getDate(val)
        {
            return val.split("-")[0] + "-" + val.split("-")[1]
        }
    }
    ,
    created()
    {
        this.getNews()
    }
    ,
    mounted()
    {
        this.bannerInit1()
        this.bannerInit2()
    }
    })
</script>

<!--<script>-->
<!--window.onload = function () {-->
<!--// 请求文章地址-->
<!--const getNewsApi = "https://manage.zhou-yuanwai.com";-->
<!--}-->
<!---->
<!--</script>-->

</body>
</html>

<script language=javascript>
    var LiveReceptionCode_chatexplain_online = '';
    LiveReceptionCode_chatexplain_online = escape(LiveReceptionCode_chatexplain_online);
</script>
<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT62454332&float=1&lng=cn"></script>


